<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">     
    <body>
        <h1>Demande de {{contact.fullName }}</h1>

        <p>Email : {{contact.email }} </p>
        <p>Sujet : {{contact.subject }} </p>
        <p>Message : 
            <div>
            {{contact.message|raw }}
            </div>
        </p>
         
 
    
    </body>
</html> 